<div class="container admin-home">
    <div class="row">
        <div class="col-xs-3 today-date">
            <p>16 June 2016</p>
        </div>
        
        <div class="col-xs-6 page-heading">
            <h2>Today's Menu</h2>
        </div>
        
        <div class="col-xs-3 buttons-right">
            <button type="button" class="btn btn-green" ng-click="getSummary()">Get today's summary</button>
            <!-- <button type="submit" class="btn btn-blue">Finished</button> -->
        </div>
    </div>
    <div class="row table-container">
        <div class="col-xs-12">
            <div ui-grid="{ data: homeAdminData2 }" class="grid-table"></div>
        </div>
    </div>
  </div>
</div>